<div class="banner">
  <div class="container-fluid welcome">
    <div class="row">
      <div class="col-md-3">
        <h1 id="logo">
          <a href="/">(HOL)</a>
        </h1>
      </div>

      <div class="col-md-9">
        <div class="banner-title">
          <h1>
            <%= title %>
          </h1>
          <p id="banner-desc" class="doc">
            <%= desc %>
            <%#Search the Collection Holdings at the C.A. Triplehorn Insect Collection%>
          </p>
          </div>
      </div>

    </div>
  </div>
</div>
  <!-- .banner -->
